@font-face {
  font-family: "Digital7";
  src: url("digital.ttf") format("truetype");
}

/* Style the body */
body {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 119); 
  font-family:  'Share Tech Mono', monospace;
}

/* Set dark mode colors */
.dark-mode {
  background-color: #260121;
  color: white;
}

/* Position dark mode toggle button to the extreme right */
#toggler-con {
  display: flex;
  justify-content: end;
}

/* Style stopwatch container */
#stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content; 
  width: fit-content; 
  margin: auto; 
  max-width: 1280px; 
  padding: 20px; 
  border: 3px solid; 
  border-radius: 16px; 
  background-color: rgb(247, 184, 235); 
}

/* Style clock display */
#timer-display {
  font-family: "Digital7", monospace;
  font-size: 80px; 
  color: rgb(255, 255, 255);
  padding: 10px; 
  margin: 30px 0;
}

/*Style timer button */
.timer-button {
  width: 100px; 
  height: 30px; 
  border: none; 
  border-radius: 16px; 
  padding: 5px; 
  background-color: purple; 
  color: rgb(255, 255, 255); 
  cursor: pointer;
}

/*Apply styling when you hover over the timer buttons*/
#start-button:hover {
  background-color: rgb(254, 148, 235); 
}

#stop-button:hover {
  background-color: rgb(254, 148, 235); 
}

#reset-button:hover {
  background-color: rgb(254, 148, 235); 
}

/* Style buttons */
button {
  font-family: 'Share Tech Mono', monospace;
  padding: 10px 15px; 
  cursor: pointer; 
  border: none; 
  border-radius: 5px;
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
}

/* Style dark mode button */
.dark-mode button {
  background-color: rgb(60, 31, 60); 
  color: white; 
}

/* Media query for mobile */
@media (max-width: 600px) {
  #stopwatch-container {
    flex-direction: column; /* Stack the items vertically */
    gap: 15px; /* Add space between elements */
    width: 100%; /* Make it responsive */
  }

  #timer-display {
    font-size: 50px; /* smaller font so it fits nicely */
  }

  .timer-button {
    width: 80%; /* Buttons stretch nicely */
    max-width: 200px;
  }
}